# Using o3-mini model
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME="o3-mini"
# Using o1 model
#AZURE_OPENAI_CHAT_DEPLOYMENT_NAME="o1"
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT="https://admin-m3m9no1y-eastus2.openai.azure.com/"
AZURE_OPENAI_API_VERSION="2024-12-01-preview"
MAX_COMPLETION_TOKENS=40000
REASONING_EFFORT="high"
# AI Services/Document Intelligence resource to use for parsing documents
DOCUMENT_INTELLIGENCE_ENDPOINT="<your doc intel endpoint>.cognitiveservices.azure.com/"
PROMPT_TEMPLATE_DIR = "<your path>\\prompts"
# Path to the directory containing the rule list
PATH_TO_RULE_LIST="<your path>\\data\\rule_list.txt"
# Path to the directory where the policy compliance agent's output should be saved
OUTPUT_DIR="<your path>\\output"